/* basics */

* {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../images/coding-bg.jpg) 50% 50% / 100% 100% no-repeat !important;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* input */

@keyframes autofill {
    to {
        color: white;
        background: transparent;
    }
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

input::-webkit-input-placeholder {
    /* Edge */
    color: lightsteelblue;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: lightsteelblue;
}

input::placeholder {
    color: lightsteelblue;
}


/* main sections */

footer {
    margin-top: auto;
}

.main {
    min-height: calc(100vh - 10em - (7px + 100vh / 50) * 2);
    flex-grow: 1;
    overflow-x: hidden;
}

.main-404 {
    min-height: calc(100vh - 10em - (7px + 100vh / 50) * 2);
    flex-grow: 1;
}

header, footer {
    min-height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #37474f57;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: .5em;
    padding: 0 1em;
}

.header-info img {
    height: 2em;
}


/* 404 page */

.hoc-404 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

.red-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.red-404 a {
    position: relative;
    color: aliceblue;
    text-decoration: none;
    top: 35px;
    text-shadow: 2px 2px 2px #E91E63;
    font-weight: 500;
    padding: 1em;
}

.red-404 a:hover, .red-404:focus {
    background: #37474F;
    color: #80DEEA;
    text-shadow: 1px 1px 1px #AED581;
    border-radius: 5px;
    animation: btn-press .3s ease-in infinite;
}


/* navigation */

.navigation {
    text-align: center;
    list-style-type: none;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    text-decoration: none;
    color: aliceblue;
    padding: 0.5em;
    width: 4em;
    display: block;
    font-weight: 500;
}

.navigation li:hover, .navigation li:focus {
    animation: btn-press 0.3s ease-in infinite;
    background: blueviolet;
}


/* headlines */

h1, h4 {
    margin: 0;
    text-align: center;
    color: #fc512f;
    text-shadow: 2px 2px 10px #fe7747;
}

h1 {
    font-size: calc(7px + 100vh / 50);
}

h4 {
    font-size: calc(3px + 100vh / 50);
}


/* info card */

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.photo, .details {
    width: 50%;
    height: 15em;
}

.details {
    background: #0000007a;
}

p {
    color: #fc512f;
    text-shadow: 2px 2px 10px #fe7747;
    margin: 1em;
    font-weight: 500;
}


/*
=====================================
            SEARCH SECTION
=====================================
*/

.search-form {
    display: flex;
    flex-direction: column;
    width: 18em;
    margin: 1em auto;
}

.search-form label {
    color: white;
    text-align: center;
    margin: .5em;
    font-weight: 600;
}

.search-form input {
    padding: .5em;
    border: 0;
    outline: none;
    border-bottom: 2px solid coral;
    background: transparent;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.search-form button {
    font-weight: 600;
    outline: none;
    margin: .5em 0;
    padding: .5em;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background: cadetblue;
    color: white;
}

.search-form button.pressed {
    transform: translateY(7%) scale(0.99);
    transition: transform .3s ease-in normal;
}

.search-results {
    text-align: center;
    padding: .2em;
}

.search-results.loading {
    border-radius: 5px;
    background: transparent;
    animation: loading .5s ease-in infinite;
}

#search-info {
    background: #f5f9fbb0;
    padding: 1em;
    opacity: 0;
    position: relative;
    width: 95%;
    margin: auto;
    overflow-x: hidden;
}

#search-info.found {
    opacity: 1;
    transition: opacity .5s ease-out;
}

.location, .long, .short, .timezone {
    color: #364146;
    text-shadow: 2px 2px 10px #09efd9;
}

.timezone, .short {
    transform: translateX(-100%);
}

.location, .long {
    transform: translateX(200%);
}

.timezone.appear, .short.appear {
    transform: translateX(0%);
    transition: transform .5s ease-in;
}

.location.appear, .long.appear {
    transform: translateX(0%);
    transition: transform .5s ease-in;
}


/*
=====================================
            CLOSE BUTTON
=====================================
*/

.close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #00000085;
    width: 2em;
    height: 2em;    
    margin: 0.5em;
}

.close-dash-one {
    width: 100%;
    padding: .1em;    
    position: relative;
    top: 46%;
    transform: rotate(45deg) scale(.8);
    transition: transform .5s ease-out;
}

.close-dash-two {
    width: 100%;
    padding: .1em;    
    position: relative;
    top: 38%;
    transform: rotate(-45deg) scale(.8);
    transition: transform .5s ease-out;
}

/*
=====================================
            MOUSE ENTER
=====================================
*/

.close-btn.enter .close-dash-one {
    background: #ec6e6e;
    animation: minOne .5s ease-out forwards;
}

.close-btn.enter .close-dash-two {
    background: #ec6e6e;
    animation: minTwo .5s ease-out forwards;
}

@keyframes minOne {
    0% {        
        transform: scale(1) rotate(45deg);
    }
    30% {
        transform: scale(.2) rotate(90deg);
    }
    60% {
        transform: scale(1) rotate(135deg);
    }
    100% {        
        transform: scale(.8) rotate(135deg);
    }
}

@keyframes minTwo {
    0% {       
        transform: scale(1) rotate(-45deg);
    }
    30% {
        transform: scale(.2) rotate(0deg);
    }
    60% {
        transform: scale(1) rotate(45deg);
    }
    100% {        
        transform: scale(.8) rotate(45deg);
    }
}


/*
======================================
            MOUSE LEAVE
======================================
*/

.close-btn.leave {
    background: transparent;
}

.close-btn.leave .close-dash-one {
    background: #cc1111;
    animation: minOneReverse .5s ease-out alternate-reverse;
}

.close-btn.leave .close-dash-two {
    background: #cc1111;
    animation: minTwoReverse .5s ease-out alternate-reverse;
}

@keyframes minOneReverse {
    0% {
        /* background: #ec6e6e; */
        transform: scale(.8) rotate(135deg);
    }
    30% {
        transform: scale(1) rotate(135deg);
    }
    60% {
        transform: scale(.2) rotate(90deg);
    }
    100% {
        /* background: black; */
        transform: scale(1) rotate(45deg);
    }
}

@keyframes minTwoReverse {
    0% {
        /* background: #ec6e6e; */
        transform: scale(.8) rotate(45deg);
    }
    30% {
        transform: scale(1) rotate(45deg);
    }
    60% {
        transform: scale(.2) rotate(0deg);
    }
    100% {
        /* background: black; */
        transform: scale(1) rotate(-45deg);
    }
}

/* animations */

@keyframes btn-press {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
        border-bottom: 1px solid coral;
    }
    50% {
        transform: translateX(0%);
        border-bottom: 1px solid #50b0ff;
    }
    100% {
        transform: translateX(100%);
        border-bottom: 1px solid coral;
    }
}


/* media */

@media (max-width: 414px) {
    .photo, .details {
        width: 100%;
    }
}

@media (min-width: 1025px) {
    .photo, .details {
        height: 20em;
    }
}