<div class="hoc-404" style="background: url(../images/neon_error_404.png) 50% 50% / 100% 100% no-repeat !important">
    <div class="red-404">
        <a href="/">Go Home</a>        
    </div>
</div>